<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Splitter - Fehler</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous">
</head>
<body class="container">

<h1>Fehler</h1>
<h2>Oh nein :(</h2>
<p>
  Leider ist bei deiner Anfrage etwas schiefgelaufen. Am besten versuchst du es einfach nochmal (
  ͡°╭͜ʖ╮͡° )
</p>
<a href="/persoenlicheUebersicht">
  <button class="btn btn-primary">Zurück zu deiner Übersichtsseite</button>
</a>
<img src="http://propra.de/ws2223/e9db70dc03c18c6/teddy_a.jpg" alt="Bild von Katze">


</body>
</html>