<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Splitter - Startseite</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous">
</head>
<body class="container">
<h1>
  Herzlich willkommen bei Splitter!
</h1>
<p>
  Einfach und unkompliziert Ausgaben tracken und Finanzen in einer Gruppe bequem verwalten.
</p>
<p class="alert alert-info">
  Im Folgenden müssen Sie sich ggf. über GitHub in der Anwendung anmelden. Machen Sie das ruhigen
  Gewissens,
  wir werden ihre persönlichen Daten <strong>nicht</strong> an böse Megakonzerne oder spionierende
  Behörden weiterreichen.
</p>
<a href="/persoenlicheUebersicht">
  <button class="btn btn-primary">Hier zu deiner persönlichen Splitter-Seite</button>
</a>
</body>
</html>