<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Splitter - Neue Gruppe erstellen </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous">
</head>

<body class="container">
<h1>Neue Gruppe erstellen</h1>
<p>Hier kannst du eine neue Gruppe erstellen.</p>
<form method="post" th:action="createGroup">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="name" name="name" required="true" maxlength="80">
    <label for="name">Gruppenname:</label>
  </div>
  <button type="submit" class="btn btn-primary">Gruppe erstellen</button>
</form>

</body>
</html>